:root {
  /* --color-primary: #c20332; */
  /* --color-secondary: #5c0521; */
  --color-primary: #1c74e9;
  --color-secondary: #0850c8;
  --color-background: #fff;
  --color-background-light: #f0f4f9;
  --color-text-default: #333;
  --color-blur: #ededed;
  --color-white: #fff;
  --color-border-default: #dee3ed;
  --color-border-blur: #8888880f;
  --color-input-background: #fff;
  --color-input-border: #ccc;
  --color-input-text: #888;
  --color-data-bg: #fff;
  --color-box-shadow: #0000001a;
  --shadowDefault: 0 2px 6px -1px #00000029, 0 1px 4px -1px #0000000a;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  background-color: var(--color-background-light);
  color: var(--color-text-default);
}

.container {
  width: 95%;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: var(--color-white);
  border: solid 1px var(--color-border-default);
  border-radius: 8px;
  box-shadow: var(--shadowDefault);
}

.menu {
  border-bottom: 1px solid var(--color-primary);
}

.tab {
  flex: 1;
  flex-direction: row;
  text-align: center;
  position: relative;
  cursor: pointer;
  padding: 10px 0;
  background-color: var(--color-blur);
  border: 1px solid var(--color-border-blur);
  /* border-bottom: 1px solid var(--color-primary); */
  border-radius: 8px 8px 0 0;
  box-shadow: 0 0 1px 0 var(--color-box-shadow);
  max-width: 200px;
}

.tab.active {
  background-color: var(--color-primary);
  /*  border-bottom: 1px solid var(--color-primary); */
  color: #ffffff;
}

.tab-content {
  display: none;
  width: 100%;
}

.tab-content.active {
  display: block;
}

.tabs {
  display: flex;
  width: 100%;
  list-style-type: none;
  padding: 0;
  border-radius: 8px 8px 0 0;
  margin-bottom: 0px;
}

.tableForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.tableFormConfig {
  display: flex;
  flex-direction: row;
  margin: auto;
  align-items: center;
}

.content {
  margin-top: 30px;
  border: 1px solid var(--color-input-border);
  padding: 10px 30px;
  border-radius: 8px;
}

.success-message,
.error-message,
.info-message,
.warn-message {
  margin: 10px;
  padding: 4px 10px;
  text-align: center;
  line-height: 2;
  border-radius: 4px;
}

.success-message {
  background-color: #d0f8ce;
  color: #2d652b;
}

.error-message {
  background-color: #fde7e8;
  color: #b31b1b;
}

.info-message {
  background-color: #e3f2fd;
  color: #0f3bae;
}

.warn-message {
  background-color: #fff9c4;
  color: #b58620;
}

.input-container {
  position: relative;
  width: 300px;
  margin: 20px 15px;
}

input {
  width: calc(100% - 30px);
  padding: 10px 15px;
  font-size: 14px;
  color: var(--color-input-text);
  border: 1px solid var(--color-input-border);
  background-color: var(--color-input-background);
  border-radius: 4px;
  outline: none;
}

.icon-copy {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: var(--color-input-text);
}

select {
  padding: 10px 15px;
  font-size: 16px;
  color: var(--color-input-text);
  border: 1px solid var(--color-input-border);
  background-color: var(--color-input-background);
  border-radius: 5px;
  outline: none;
}

.fld-label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  transition: top 0.3s ease, font-size 0.3s ease;
  color: var(--color-input-text);
  pointer-events: none;
}

select .fld-label,
select:not(:placeholder-shown)+label,
input:focus+label,
input:not(:placeholder-shown)+label {
  top: 0px;
  font-size: 12px;
  color: var(--color-input-text);
  background-color: var(--color-input-background);
  padding: 5px;
}

#buttons,
.btnGroup {
  display: flex;
  justify-content: center;
}

button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: var(--color-primary);
  color: #fff;
  transition: border .28s cubic-bezier(.4, 0, .2, 1), box-shadow .28s cubic-bezier(.4, 0, .2, 1);
  box-shadow: none;
}

button:hover {
  background-color: var(--color-secondary);
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}



.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: var(--color-primary);
}

input:focus+.slider {
  box-shadow: 0 0 1px var(--color-box-shadow);
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch-label {
  margin-left: 15px;
}

#generatedData {
  text-align: center;
  width: 250px;
}

.searchData {
  text-align: center;
  width: 250px;
}

.flex {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.text {
  margin-left: 5px;
  font-size: 14px;
}


.msgStage {
  height: 20px;
}

#warning.visible {
  opacity: 1;
}

#warning.hidden {
  opacity: 0;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.table {
  display: table;
  width: 90%;
  margin: 30px 10px 0;
  padding: 10px;
  background: var(--color-data-bg);
  border: solid 1px var(--color-border-default);
  border-radius: 8px;
  /* box-shadow: var(--shadowDefault); */
}

.resultInfo {
  width: 100%;
}


.row {
  display: table-row;
}

.cell-l {
  display: table-cell;
  width: 80px;
  padding: 5px;
  text-align: right;
  font-weight: 600;
}

.cell-r {
  display: table-cell;
  padding: 5px;
  border: 0px solid #ccc;
}

.popup-title {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 40px;
  padding: 0px;
  border-top: 1px solid var(--color-border-default);
  border-bottom: 1px solid var(--color-border-default);
  background: var(--color-background-light);
  font-size: 14px;
  font-weight: 600;
}

.stage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0px;
  /* border-bottom: 1px solid var(--color-border-default); */
  width: 100%;
}

.ul-results {
  padding-inline-start: 10px;
  display: none;
  width: 100%;
}

.li-results {
  list-style-type: none;
  padding-bottom: 10px;
}


.stars-container {
  display: flex;
  justify-content: flex-end;
  margin: 0px 15px 10px 15px;
}

.stars-block {
  position: relative;
}

.stars-outline {
  display: flex;
}

.stars-full {
  display: flex;
  overflow: hidden;
  position: absolute;
  top: 0;
}

.svg-stars {
  width: 16px;
  height: 16px;
  display: inline-block;
  fill: currentColor;
  flex-shrink: 0;
  transition: background-color 0.3s;
}

.svg-star-outline {
  /* background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' %3E%3Cpath fill='%23ffcf32' d='m12 15.39l-3.76 2.27l.99-4.28l-3.32-2.88l4.38-.37L12 6.09l1.71 4.04l4.38.37l-3.32 2.88l.99 4.28M22 9.24l-7.19-.61L12 2L9.19 8.63L2 9.24l5.45 4.73L5.82 21L12 17.27L18.18 21l-1.64-7.03z'/%3E%3C/svg%3E"); */
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' %3E%3Cpath fill='%23dadce0' d='M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.62L12 2L9.19 8.62L2 9.24l5.45 4.73L5.82 21z'/%3E%3C/svg%3E");
}

.svg-star-outline:hover {
  /* background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'viewBox='0 0 24 24' %3E%3Cpath fill='%23ffc400' d='m12 15.39l-3.76 2.27l.99-4.28l-3.32-2.88l4.38-.37L12 6.09l1.71 4.04l4.38.37l-3.32 2.88l.99 4.28M22 9.24l-7.19-.61L12 2L9.19 8.63L2 9.24l5.45 4.73L5.82 21L12 17.27L18.18 21l-1.64-7.03z'/%3E%3C/svg%3E"); */
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' %3E%3Cpath fill='%23dadce0' d='M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.62L12 2L9.19 8.62L2 9.24l5.45 4.73L5.82 21z'/%3E%3C/svg%3E");
}

.svg-star {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' %3E%3Cpath fill='%23ffcf32' d='M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.62L12 2L9.19 8.62L2 9.24l5.45 4.73L5.82 21z'/%3E%3C/svg%3E");
}

.svg-star:hover {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' %3E%3Cpath fill='%23ffc400' d='M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.62L12 2L9.19 8.62L2 9.24l5.45 4.73L5.82 21z'/%3E%3C/svg%3E");
}

.icon-copy {
  cursor: pointer;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23cccccc' d='M11.4 0a.85.85 0 0 1 .622.273l2.743 3a.884.884 0 0 1 .235.602v9.25a.867.867 0 0 1-.857.875H3.857A.867.867 0 0 1 3 13.125V.875C3 .392 3.384 0 3.857 0zM14 4h-2.6a.4.4 0 0 1-.4-.4V1H4v12h10z'/%3E%3Cpath fill='%23cccccc' d='M3 1H2a1 1 0 0 0-1 1v13a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1v-1h-1v1H2V2h1z'/%3E%3C/svg%3E");
}

.icon-json {
  cursor: pointer;
  display: inline-block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23888888' fill-rule='evenodd' d='M14 4.5V11h-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5zM4.151 15.29a1.2 1.2 0 0 1-.111-.449h.764a.58.58 0 0 0 .255.384q.105.073.25.114q.142.041.319.041q.245 0 .413-.07a.56.56 0 0 0 .255-.193a.5.5 0 0 0 .084-.29a.39.39 0 0 0-.152-.326q-.152-.12-.463-.193l-.618-.143a1.7 1.7 0 0 1-.539-.214a1 1 0 0 1-.352-.367a1.1 1.1 0 0 1-.123-.524q0-.366.19-.639q.192-.272.528-.422q.337-.15.777-.149q.456 0 .779.152q.326.153.5.41q.18.255.2.566h-.75a.56.56 0 0 0-.12-.258a.6.6 0 0 0-.246-.181a.9.9 0 0 0-.37-.068q-.324 0-.512.152a.47.47 0 0 0-.185.384q0 .18.144.3a1 1 0 0 0 .404.175l.621.143q.326.075.566.211a1 1 0 0 1 .375.358q.135.222.135.56q0 .37-.188.656a1.2 1.2 0 0 1-.539.439q-.351.158-.858.158q-.381 0-.665-.09a1.4 1.4 0 0 1-.478-.252a1.1 1.1 0 0 1-.29-.375m-3.104-.033a1.3 1.3 0 0 1-.082-.466h.764a.6.6 0 0 0 .074.27a.5.5 0 0 0 .454.246q.285 0 .422-.164q.137-.165.137-.466v-2.745h.791v2.725q0 .66-.357 1.005q-.355.345-.985.345a1.6 1.6 0 0 1-.568-.094a1.15 1.15 0 0 1-.407-.266a1.1 1.1 0 0 1-.243-.39m9.091-1.585v.522q0 .384-.117.641a.86.86 0 0 1-.322.387a.9.9 0 0 1-.47.126a.9.9 0 0 1-.47-.126a.87.87 0 0 1-.32-.387a1.55 1.55 0 0 1-.117-.641v-.522q0-.386.117-.641a.87.87 0 0 1 .32-.387a.87.87 0 0 1 .47-.129q.265 0 .47.129a.86.86 0 0 1 .322.387q.117.255.117.641m.803.519v-.513q0-.565-.205-.973a1.46 1.46 0 0 0-.59-.63q-.38-.22-.916-.22q-.534 0-.92.22a1.44 1.44 0 0 0-.589.628q-.205.407-.205.975v.513q0 .562.205.973q.205.407.589.626q.386.217.92.217q.536 0 .917-.217q.384-.22.589-.626q.204-.41.205-.973m1.29-.935v2.675h-.746v-3.999h.662l1.752 2.66h.032v-2.66h.75v4h-.656l-1.761-2.676z'/%3E%3C/svg%3E");
}

.tooltip {
  display: none;
  position: absolute;
  top: 7%;
  right: 100px;
  transform: translateY(-50%);
  background-color: #d0f8ce;
  color: #2d652b;
  padding: 5px 10px;
  border-radius: 5px;
}

.input-container:hover .tooltip {
  display: inline-block;
}

hr {
  margin: 20px -16px;
  border: 0;
  border-top: 1px solid var(--color-border-default);
}

.vr {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  align-items: center;
  /* border-right: 1px solid var(--color-border-default); */
  width: 33%;
  padding: 0 px;
  margin: 0px;
}


.col {
  display: flex;
}